{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Password Changed {% endblock title %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Password Changed</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Password Changed</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Success</h3>
            </div>
            <div class="card-body">
              <p>Your password has been changed successfully.</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'accounts:profile_show' %}" class="btn btn-primary">Back to Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
{% endblock content %}
