{% extends 'layouts/auth_base.html' %}

{% block title %} Password Reset Email Sent {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Admin</b>LTE</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <!-- 密码重置邮件发送确认信息 -->
      <p class="login-box-msg">We've emailed you instructions for setting your password. You should receive them shortly.</p>
      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      <p class="mt-3 mb-1">
        <!-- 返回登录页面的按钮 -->
        <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-block">Return to Login Page</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
