{% extends "layouts/landing_base.html" %}

{% block title %} 欢迎来到我们的网站 {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1>欢迎来到我们的网站</h1>
            <p class="lead">这里是我们网站的简介和主要特点。</p>
            <div class="mt-4">
                <a href="{% url 'adminlte:index' %}" class="btn btn-primary btn-lg mr-2">进入管理界面</a>
                <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg mr-2">登录</a>
                <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-lg">注册</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}